body{
    width: 100%;
    height: auto;
    position: absolute;
    background: $white;
    font-size: 16px;
    font-family: 'Montserrat', arial;
}


.footer-box{
    width: 100%;
    height: auto;
    float: left;
    position: relative;
}
